<!-- Jumbotron -->
<div class="d-block mx-auto w-75 jumbotron text-center blue-grey lighten-5">

    <!-- Title -->
    <h2 class="card-title h2"></h2>
  
    <!-- Grid row -->
    <div class="row d-flex justify-content-center">
  
      <!-- Grid column -->
      <div class="col-xl-7 pb-2">
        <!-- Card -->
        <div class="card">
  
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!-- Card content -->
          <div class="card-body">
            <!-- Default form login -->
            <form class="text-center border border-light p-5">
  
              <p class="h4 mb-4">Sign in</p>
  
              <!-- Email -->
              <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
  
              <!-- Password -->
              <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
  
              <div class="d-flex justify-content-around">
                  <div>
                      <!-- Remember me -->
                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                          <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                      </div>
                  </div>
                  <div>
                      <!-- Forgot password -->
                      <a href="">Forgot password?</a>
                  </div>
              </div>
  
              <!-- Sign in button -->
              <button class="btn btn-info btn-block my-4" type="submit" routerLink="/dashboard">Sign in</button>
  
              <!-- Register -->
              <p>Not a member?
                  <a href="">Register</a>
              </p>
  
            </form>
            <!-- Default form login -->
          </div>
  
        </div>
        <!-- Card -->
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
    <hr class="my-4 pb-2">
      
  </div>
  <!-- Jumbotron -->

