
<!-- Jumbotron -->
<div class="d-block mx-auto jumbotron text-center blue-grey lighten-5" style="width:600px">
  <p>
    <a routerLink="/login">Logout</a>
  </p>

  
    <hr class="my-4 pb-2">
      Data is refreshed on January 1, 2019
    <!--Section: Pricing v.3-->
<section class="text-center pb-2 my-5">

    <!--Section heading-->
    <h2 class="h1 py-1">Summary</h2>
    <!--Section description-->
    <p class="grey-text pb-5">Short explanation of the data</p>
  
    <!--Grid row-->
    <div class="row">
  
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">
        <!--Card-->
        <div class="card">
  
          <!--Content-->
          <div class="text-center">
            <div class="card-body">
              <h5>Total Investor Capital</h5>
              <div class="flex-center">
                <div class="card-circle d-flex justify-content-center align-items-center">
                  <i class="fas light-blue-text"></i>
                </div>
              </div>
  
              <!--Price-->
              <h2 class="font-weight-bold my-3">$288M</h2>
              <p class="grey-text"></p>              
            </div>
          </div>
  
        </div>
        <!--Card-->
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">
        <!--Card-->
        <div class="card">
  
          <!--Content-->
          <div class="text-center">
            <div class="card-body">
              <h5>Total Capital Deployed</h5>
              <div class="flex-center">
                <div class="card-circle d-flex justify-content-center align-items-center">
                  <i class="fas fa-chart-bar light-blue-text"></i>
                </div>
              </div>
  
              <!--Price-->
              <h2 class="font-weight-bold my-3">$231M</h2>
              <p class="grey-text">
              </p>
            </div>
          </div>
  
        </div>
        <!--Card-->
      </div>
      <!--Grid column-->
  
    </div>
    <!--Grid row-->
  
  </section>
  <!--Section: Pricing v.3-->




     <!--Accordion wrapper-->
  
  <!--/.Accordion wrapper-->
      
      <hr class="my-4 pb-2">

  </div>
  <!-- Jumbotron -->