<!-- Jumbotron -->
<div class="d-block mx-auto w-100 jumbotron text-center blue-grey lighten-5">
  <p>
    <a routerLink="/">Logout</a>
  </p>  
    <hr class="my-4 pb-2">
      Data is refreshed on January 1, 2019
    <!--Section: Pricing v.3-->
<section class="text-center pb-2 my-5">

    <!--Section heading-->
    <h2 class="h1 py-1">Summary</h2>
    <!--Section description-->
    <p class="grey-text pb-5">Short explanation of the data</p>
  
    <!--Grid row-->
    <div class="row">
  
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">
        <!--Card-->
        <div class="card">
  
          <!--Content-->
          <div class="text-center">
            <div class="card-body">
              <h5>Total Investor Capital</h5>
              <div class="block-center">
                <div class="card-circle d-block justify-content-center align-items-center">
                  <i class="fas light-blue-text"></i>
                </div>
              </div>
  
              <!--Price-->
              <h2 class="font-weight-bold my-3">$288M</h2>
              <p class="grey-text"></p>              
            </div>
          </div>
  
        </div>
        <!--Card-->
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">
        <!--Card-->
        <div class="card">
  
          <!--Content-->
          <div class="text-center">
            <div class="card-body">
              <h5>Total Capital Deployed</h5>
              <div class="block-center">
                <div class="card-circle d-block justify-content-center align-items-center">
                  <i class="fas fa-chart-bar light-blue-text"></i>
                </div>
              </div>
  
              <!--Price-->
              <h2 class="font-weight-bold my-3">$231M</h2>
              <p class="grey-text">
              </p>
            </div>
          </div>  
        </div>
        <!--Card-->
      </div>
      <!--Grid column-->  
    </div>
    <!--Grid row-->  
  </section>


  <!--Line to new chapter and expend-cart, chart-->
  <hr class="my-4 pb-2">
  <div class="card">
  
    <!--Content-->
    <div class="text-center">
      <div class="card-body">
        <h5>Investor Yield</h5>
        <div class="block-center">
          <div class="card-circle d-block justify-content-center align-items-center">
            <i class="fas fa-chart-bar light-blue-text"></i>
          </div>
        </div>

        <!--Investor Yieled-->
        <h2 class="font-weight-bold my-3">7.9%</h2>
        <p class="grey-text">
        </p>
      </div>
    </div>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Trends
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!--Graph with the trends-->
        <div style="display: block">
          <canvas mdbChart
              [chartType]="chartType"
              [datasets]="chartDatasets"
              [labels]="chartLabels"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="true"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
          </canvas>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">        
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!--Line to new chapter and expend-cart, table-->
  <hr class="my-4 pb-2">
  <div class="card">
  
    <!--Content-->
    <div class="text-center">
      <div class="card-body">
        <h5>Net Interest Margin</h5>
        <div class="block-center">
          <div class="card-circle d-block justify-content-center align-items-center">
            <i class="fas fa-chart-bar light-blue-text"></i>
          </div>
        </div>

        <!--Net Interest Margin-->
        <h2 class="font-weight-bold my-3">1.44%</h2>
        <p class="grey-text">
        </p>
      </div>
    </div>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Details
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!--Table with details-->
        <table class="table table-striped">
          <thead>
            <tr>

              <th scope="col">Period</th>
              <th scope="col">Including Richmond</th>
              <th scope="col">Excluding Richmond</th>
            </tr>
          </thead>
          <tbody>
            <tr>

              <td>YTD 2018</td>
              <td>1.44%</td>
              <td>1.04%</td>
            </tr>
            <tr>

              <td>2017</td>
              <td>2.71%</td>
              <td>1.04%</td>
            </tr>
          </tbody>
        </table>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">        
      </mat-expansion-panel>
    </mat-accordion>
  </div>


   <!--Line to new chapter and expend-cart, chart-->
   <hr class="my-4 pb-2">
   <div class="card">
   
     <!--Content-->
     <div class="text-center">
       <div class="card-body">
         <h5>Porfolio by Indusries</h5>
         <div class="block-center">
           <div class="card-circle d-block justify-content-center align-items-center">
             <i class="fas fa-chart-bar light-blue-text"></i>
           </div>
         </div>
 
         <!--Investor Yieled-->
         <h6 class="font-weight-lighter my-3">Hospitality is 67% at $153M</h6>
         <p class="grey-text">
         </p>
       </div>
     </div>       
      <!--Graph with the trends-->
      <div style="display: block">
        <canvas mdbChart
            [chartType]="chartTypeP"
            [datasets]="chartDatasetsP"
            [labels]="chartLabelsP"
            [colors]="chartColorsP"
            [options]="chartOptionsP"
            [legend]="true"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
        </canvas>
        <p></p>
      </div>     
   </div>




  </div>
  <!-- Jumbotron -->
