<!-- Jumbotron -->
<div class="d-block mx-auto w-75 jumbotron text-center blue-grey lighten-5">

    <!-- Title -->
    <h2 class="card-title h2"></h2>
  
    <!-- Grid row -->
    <div class="row d-block justify-content-center">
  
      <!-- Grid column -->
      <div class="col-xl-7 pb-2">
        <!-- Card -->
        <div class="card">
  
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight">

              </div>
            </a>
          </div>
  
          <!-- Card content -->
          <div class="card-body">
            <hr class="my-4 pb-2">
            <p class="font-weight-lighter">You are in our test-invirement for the DB App.</p>
            <button class="btn btn-info btn-block my-4" type="submit" routerLink="/login">GET STARTED</button>   
          </div>
  
        </div>
        <!-- Card -->
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  

  </div>
  <!-- Jumbotron -->